---
title: "\"In 2024, Unlock Partner Status  A Step-by-Step Guide to Discord Verification\""
date: 2024-07-29T00:48:56.709Z
updated: 2024-07-30T00:48:56.709Z
tags:
  - ai video
  - ai discord
  - ai discord video
categories:
  - ai
  - discord
description: "\"This Article Describes In 2024, Unlock Partner Status: A Step-by-Step Guide to Discord Verification\""
excerpt: "\"This Article Describes In 2024, Unlock Partner Status: A Step-by-Step Guide to Discord Verification\""
keywords: "Unlock Partner Status,Discord Verification Steps,Achieve Partner Status,Partner Account Verification,DiscoCertify Guide,Unlocked in Discord,Verified Partner Sign Up"
thumbnail: https://thmb.techidaily.com/84a4620f422e4279d6cc9c20449448701c42416dfe9f4fbdd744755993fb5c2e.png
---

## Unlock Partner Status: A Step-by-Step Guide to Discord Verification

# How To Get Discord Partner And Be Verified

<!-- affiliate ads begin -->
<a href="https://versadesk.pxf.io/c/5597632/1892107/21290" target="_top" id="1892107"><img src="//a.impactradius-go.com/display-ad/21290-1892107" border="0" alt="" width="1200" height="628"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1892107/21290" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=37100474&QTY=1&AFFILIATE=108875&CART=1"><img src="https://awario.com/images/pages/index/img-leads-1280@1x.avif" border="0"></a>
<!-- affiliate ads end -->
### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

<!-- affiliate ads begin -->
<a href="https://estore.zonealarm.com/order/checkout.php?PRODS=36245101&QTY=1&AFFILIATE=108875&CART=1"><img src="https://sc1.checkpoint.com/sc1/za/images/boxes/zang_box_trust.png" border="0">ZoneAlarm Extreme Security NextGen</a>
<!-- affiliate ads end -->
![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

<!-- affiliate ads begin -->
<a href="https://zebaoaffiliateprogram.pxf.io/c/5597632/1853659/21526" target="_top" id="1853659"><img src="//a.impactradius-go.com/display-ad/21526-1853659" border="0" alt="" width="1920" height="750"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1853659/21526" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

<!-- affiliate ads begin -->
<a href="https://estore.winxdvd.com/order/checkout.php?PRODS=1412049&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.winxdvd.com/affiliate/new-banner/pt-200x200.jpg" border="0"></a>
<!-- affiliate ads end -->
## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4726960&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/5f4f7141b65a730b4efb0e0d51f63e94/products/forexrobotronbox.gif" border="0">Forex Robotron Basic Package</a>
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

<!-- affiliate ads begin -->
<a href="https://store.massmailsoftware.com/order/checkout.php?PRODS=1095219&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/dc87c13749315c7217cdc4ac692e704c/banera_for_partners-20_%281%29.jpg" border="0"></a>
<!-- affiliate ads end -->
### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=22741618&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.diskpart.com/resource/images/index/dp-index-img-banner-people@2x.png" border="0">Easy and Safe Partition Software & Hard Disk Manager</a>
<!-- affiliate ads end -->
![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

<!-- affiliate ads begin -->
<a href="https://store.bitdefender.com/affiliate.php?ACCOUNT=BITLATIN&AFFILIATE=108875&PATH=http%3A%2F%2Fwww.bitdefender.com%2Fbusiness%3FAFFILIATE%3D108875%26RESOURCE%3D30%2525%2BOff%2Ball%2BGravityZone%2BProducts"><img src="https://www.bitdefender.com/content/dam/bitdefender/business/campaign/1200X628.png" border="0"></a>
<!-- affiliate ads end -->
## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4615471&QTY=1&AFFILIATE=108875&CART=1"><img src="https://images.wondershare.com/affiliate-image/affiliate_banners_en/max_782x90.png" border="0"></a>
<!-- affiliate ads end -->
## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4699091&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/bccefcc1b1eee9eca3ae4f5c1a281482/products/1_jutoh-logo-1200x1600.jpg" border="0">Jutoh Plus -  Jutoh is an ebook creator for Epub, Kindle and more. It's fast, runs on Windows, Mac, and Linux, comes with a cover design editor, and allows book variations to be created with alternate text, style sheets and cover designs. Jutoh Plus adds scripting so you can automate ebook import and creation operations. It also allows customisation of ebook HTML via templates and source code documents; and you can create Windows CHM and wxWidgets HTB help files. </a>
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

<!-- affiliate ads begin -->
<a href="https://lightailing.sjv.io/c/5597632/1725213/17190" target="_top" id="1725213"><img src="//a.impactradius-go.com/display-ad/17190-1725213" border="0" alt="" width="1000" height="1000"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1725213/17190" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

<!-- affiliate ads begin -->
<a href="https://thefitville.pxf.io/c/5597632/1526796/15852" target="_top" id="1526796"><img src="//a.impactradius-go.com/display-ad/15852-1526796" border="0" alt="" width="1200" height="628"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1526796/15852" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=2067133&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.pearlmountainsoft.com/n_img/product/gcb/banScrn.jpg" border="0">Greeting Card Builder</a>
<!-- affiliate ads end -->
### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=11224199&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/e09fdffe648a30658a9657bbed7b2388/products/copy_boxshot_lyricvideo.png" border="0">Lyric Video Creator Professional Version</a>
<!-- affiliate ads end -->
![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

<!-- affiliate ads begin -->
<a href="https://propmoneyinc.pxf.io/c/5597632/1803115/14559" target="_top" id="1803115"><img src="//a.impactradius-go.com/display-ad/14559-1803115" border="0" alt="" width="859" height="859"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1803115/14559" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

<!-- affiliate ads begin -->
<a href="https://mindmanager.sjv.io/c/5597632/1787667/20231" target="_top" id="1787667"><img src="//a.impactradius-go.com/display-ad/20231-1787667" border="0" alt="" width="728" height="90"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1787667/20231" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

<!-- affiliate ads begin -->
<a href="https://ship7com.pxf.io/c/5597632/1509856/17634" target="_top" id="1509856"><img src="//a.impactradius-go.com/display-ad/17634-1509856" border="0" alt="" width="730" height="383"/></a>
<!-- affiliate ads end -->
### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2075471/7443" target="_top" id="2075471"><img src="//a.impactradius-go.com/display-ad/7443-2075471" border="0" alt="" width="1200" height="600"/></a><img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2075471/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

<!-- affiliate ads begin -->
<a href="https://propmoneyinc.pxf.io/c/5597632/1803116/14559" target="_top" id="1803116"><img src="//a.impactradius-go.com/display-ad/14559-1803116" border="0" alt="" width="859" height="859"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1803116/14559" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

## Cutting Ties in Cyberspace: An Exit Strategy From Discords

# How to Leave A Discord Server

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord is all fun and games if you are a part of a lively server that has a cool community. You can obsess about some game, comic, or song with hundreds of other people without the fear of being called geeky.

However, sometimes you might disagree with other members, which can lead you to hunt for some other server. Other times, the server might be inactive, or you may not mix well with the crowd. Or maybe, you landed there by mistake. So, **how do you leave a Discord server**?

Whatever your reason, here is a detailed guide on how to leave a server on Discord!

A few things to note before you leave a server –

* After you exit from a server, you will no longer be able to send any texts on it.
* You will not receive any notifications from the server.
* Your username will no longer appear in the member list of the server.
* Whatever role you had in the server will be disabled.
* If you own a server, you will have to transfer the ownership to another member before you quit.
* The person you hand over your server to can do whatever they want with it.
* You can join the server you left again if you change your mind.

## Part 1: How to Leave a Discord Server on Computer?

Several peoples and hardcore gamers use Discord over a PC. And you can wave goodbye to the channel in a matter of few seconds. The procedure is the same for Mac and Windows.

1. Open Discord on your computer (the desktop app or on the browser).
2. Tap on the server name that appears towards the top left.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4713565&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.epubor.com/images/uppic/audible-converter-interface.png" border="0">Epubor Audible Converter for Mac： Download and convert Audible AAXC/AA/AAX to MP3 with 100% original quality preserved.</a>
<!-- affiliate ads end -->
![ Leave Discord Server](https://images.wondershare.com/filmora/article-images/leave-discord-server.jpg)

1. Right at the bottom of the list, click on the option leave server

<!-- affiliate ads begin -->
<a href="https://versadesk.pxf.io/c/5597632/1892108/21290" target="_top" id="1892108"><img src="//a.impactradius-go.com/display-ad/21290-1892108" border="0" alt="" width="1080" height="1080"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1892108/21290" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![ Leave Discord Server Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server.jpg)

After confirming you won't be a part of that server anymore. You cannot send any texts or get any notifications. The server name will disappear from the server list in your profile.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4599951&QTY=1&AFFILIATE=108875&CART=1"><iframe width="864" height="500" src="https://www.youtube.com/embed/jVnfr5HudQw" title="The Latest and Easiest Solution to Remove Kindle DRM on Windows (without Degrading)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
Epubor Ultimate for Win：Helps you read books anywhere, including the best eBook Converter + eBook DRM Removal functions.</a>
<!-- affiliate ads end -->
## Part 2: How to Leave a Discord Server on the Mobile App?

The procedure of leaving the server is more or less the same on the mobile app. The user interface of Discord does not differ much across the devices. To quit a server, follow these steps -

1. Click open the Discord app on your mobile.
2. Click on the right pane and click on the 3 dots that appear. Click on the name of the server that you want to leave.

![ Leave Discord Server on Mobile](https://images.wondershare.com/filmora/article-images/leave-discord-server-mobile.jpg)

1. From the menu that opens, scroll towards the bottom and click on the leave server option.

![ Leave Discord Server on Mobile Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server-mobile.jpg)

After confirmation, you will not be a part of the server anymore. The process is the same for ios and Android devices.

If you have decided to take a break from gaming and Discord, you can consider uninstalling the app temporarily. You can also turn off the notifications in the app settings on your device.

<!-- affiliate ads begin -->
<a href="https://store.nero.com/order/checkout.php?PRODS=39694080&QTY=1&AFFILIATE=108875&CART=1"><img src="http://cdnwww.nero.com/nero-com-wAssets/img/banners/2023/nbr/fire/Screenshot_1red_gb.jpg" border="0">Nero Burning ROM:
The ultimate burning program for all your needs!</a>
<!-- affiliate ads end -->
## Bonus: How to Transfer Discord Server Ownership?

How to leave your own Discord server? If your server has many members in it, it is wiser to transfer the ownership rather than shutting the server completely or abandoning it to fate. Especially if the users are active, then you can handover the ownership to a trustworthy person.

Here is how you can do it -

**For desktop**

The process is quite simple and only takes a few minutes.

1. Open the Discord app or log in using the browser.
2. Click on the server that you want to leave.
3. With right-click, open up the floating menu.
4. From that list, select server settings and then choose members.
5. Select the user that You Want To handover your server to. Tap those 3 dots and tap on ‘transfer ownership.’
6. Confirm your choice and then click on transfer ownership.
7. The chosen member will become the new owner of the server.

**On mobile**

The transfer procedure is quite similar to the desktop version. However, it has a few extra steps.

1. Open your Discord App on your phone.
2. Select the server that you want to give away.
3. Tap those 3 dots to open up the menu. Under user management, tap on ‘members.'
4. Select the member that will be the new owner of your server. Tap the 3 dots that appear next to the name of that user.
5. A confirmation box will appear.
6. Check off the box to confirm your choice.

Your server is now successfully transferred to the selected member. And the new owner can decide what to do with the server.

FAQs About Leaving A Discord Server

1. How can I leave a Discord server without anyone knowing?

Frankly speaking, there is no magic to help conceal your disappearance from a server. There is no way to hide your departure. However, you can take a few measures to make it less noticeable.

* Lay low for a few hours or days. This won’t work if you are the loudest member on the server. But still, it’s worth a shot.
* Try changing your avatar, profile picture, and nickname. This can throw people off the track or confuse them for a while.
* Control yourself and try not to tell anyone that you are leaving.
* And now it’s time for the discreet farewell!

You might still get some texts on personal asking about your exit. This is not a surefire way of making your exit a secret. However, hundreds of members along with bots will make your disappearance less apparent. Another solution would be to create a new user ID and leave the old one inactive.

1. Does leaving a Discord server delete your messages?

No, none of the texts that you sent on the server get deleted. Every text remains, even after you leave. The only way you can delete your texts if you delete them all one by one, or someone with sufficient permissions deletes them. If you get banned, then the member who banned you decides whether to keep your messages on the server or remove them. In this case, your texts can be removed if the member deletes them.

This was a guide on ‘**how to leave a Discord server’** that provided a detailed how-to on leaving servers and transferring servers.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord is all fun and games if you are a part of a lively server that has a cool community. You can obsess about some game, comic, or song with hundreds of other people without the fear of being called geeky.

However, sometimes you might disagree with other members, which can lead you to hunt for some other server. Other times, the server might be inactive, or you may not mix well with the crowd. Or maybe, you landed there by mistake. So, **how do you leave a Discord server**?

Whatever your reason, here is a detailed guide on how to leave a server on Discord!

A few things to note before you leave a server –

* After you exit from a server, you will no longer be able to send any texts on it.
* You will not receive any notifications from the server.
* Your username will no longer appear in the member list of the server.
* Whatever role you had in the server will be disabled.
* If you own a server, you will have to transfer the ownership to another member before you quit.
* The person you hand over your server to can do whatever they want with it.
* You can join the server you left again if you change your mind.

<!-- affiliate ads begin -->
<a href="https://ukaidot.sjv.io/c/5597632/1793233/19578" target="_top" id="1793233"><img src="//a.impactradius-go.com/display-ad/19578-1793233" border="0" alt="" width="1200" height="1200"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1793233/19578" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Part 1: How to Leave a Discord Server on Computer?

Several peoples and hardcore gamers use Discord over a PC. And you can wave goodbye to the channel in a matter of few seconds. The procedure is the same for Mac and Windows.

1. Open Discord on your computer (the desktop app or on the browser).
2. Tap on the server name that appears towards the top left.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4709458&QTY=1&AFFILIATE=108875&CART=1"><img src="https://3d-kstudio.com/wp-content/uploads/2019/10/Project-Manager-version-3-1600x900-768x419.jpg" border="0">Project Manager - Asset Browser for 3Ds Max</a>
<!-- affiliate ads end -->
![ Leave Discord Server](https://images.wondershare.com/filmora/article-images/leave-discord-server.jpg)

1. Right at the bottom of the list, click on the option leave server

![ Leave Discord Server Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server.jpg)

After confirming you won't be a part of that server anymore. You cannot send any texts or get any notifications. The server name will disappear from the server list in your profile.

## Part 2: How to Leave a Discord Server on the Mobile App?

The procedure of leaving the server is more or less the same on the mobile app. The user interface of Discord does not differ much across the devices. To quit a server, follow these steps -

1. Click open the Discord app on your mobile.
2. Click on the right pane and click on the 3 dots that appear. Click on the name of the server that you want to leave.

<!-- affiliate ads begin -->
<a href="https://bluettide.pxf.io/c/5597632/2042332/17092" target="_top" id="2042332"><img src="//a.impactradius-go.com/display-ad/17092-2042332" border="0" alt="BLUETTI NEW LAUNCH AC180T" width="960" height="900"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2042332/17092" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![ Leave Discord Server on Mobile](https://images.wondershare.com/filmora/article-images/leave-discord-server-mobile.jpg)

1. From the menu that opens, scroll towards the bottom and click on the leave server option.

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2068425/7443" target="_top" id="2068425"><img src="//a.impactradius-go.com/display-ad/7443-2068425" border="0" alt="" width="1200" height="600"/></a><img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2068425/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
![ Leave Discord Server on Mobile Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server-mobile.jpg)

After confirmation, you will not be a part of the server anymore. The process is the same for ios and Android devices.

If you have decided to take a break from gaming and Discord, you can consider uninstalling the app temporarily. You can also turn off the notifications in the app settings on your device.

<!-- affiliate ads begin -->
<a href="https://shop.systoolsgroup.com/affiliate.php?ACCOUNT=SYSTOOBY&AFFILIATE=108875&PATH=https%3A%2F%2Fwww.systoolsgroup.com%3FAFFILIATE%3D108875%26RESOURCE%3D%2BSysTools%2BPDF%2BUnlocker"><img src="https://www.systoolsgroup.com/box/pdf-unlocker.png" border="0"></a>
<!-- affiliate ads end -->
## Bonus: How to Transfer Discord Server Ownership?

How to leave your own Discord server? If your server has many members in it, it is wiser to transfer the ownership rather than shutting the server completely or abandoning it to fate. Especially if the users are active, then you can handover the ownership to a trustworthy person.

Here is how you can do it -

**For desktop**

The process is quite simple and only takes a few minutes.

1. Open the Discord app or log in using the browser.
2. Click on the server that you want to leave.
3. With right-click, open up the floating menu.
4. From that list, select server settings and then choose members.
5. Select the user that You Want To handover your server to. Tap those 3 dots and tap on ‘transfer ownership.’
6. Confirm your choice and then click on transfer ownership.
7. The chosen member will become the new owner of the server.

**On mobile**

The transfer procedure is quite similar to the desktop version. However, it has a few extra steps.

1. Open your Discord App on your phone.
2. Select the server that you want to give away.
3. Tap those 3 dots to open up the menu. Under user management, tap on ‘members.'
4. Select the member that will be the new owner of your server. Tap the 3 dots that appear next to the name of that user.
5. A confirmation box will appear.
6. Check off the box to confirm your choice.

Your server is now successfully transferred to the selected member. And the new owner can decide what to do with the server.

FAQs About Leaving A Discord Server

1. How can I leave a Discord server without anyone knowing?

Frankly speaking, there is no magic to help conceal your disappearance from a server. There is no way to hide your departure. However, you can take a few measures to make it less noticeable.

* Lay low for a few hours or days. This won’t work if you are the loudest member on the server. But still, it’s worth a shot.
* Try changing your avatar, profile picture, and nickname. This can throw people off the track or confuse them for a while.
* Control yourself and try not to tell anyone that you are leaving.
* And now it’s time for the discreet farewell!

You might still get some texts on personal asking about your exit. This is not a surefire way of making your exit a secret. However, hundreds of members along with bots will make your disappearance less apparent. Another solution would be to create a new user ID and leave the old one inactive.

1. Does leaving a Discord server delete your messages?

No, none of the texts that you sent on the server get deleted. Every text remains, even after you leave. The only way you can delete your texts if you delete them all one by one, or someone with sufficient permissions deletes them. If you get banned, then the member who banned you decides whether to keep your messages on the server or remove them. In this case, your texts can be removed if the member deletes them.

This was a guide on ‘**how to leave a Discord server’** that provided a detailed how-to on leaving servers and transferring servers.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord is all fun and games if you are a part of a lively server that has a cool community. You can obsess about some game, comic, or song with hundreds of other people without the fear of being called geeky.

However, sometimes you might disagree with other members, which can lead you to hunt for some other server. Other times, the server might be inactive, or you may not mix well with the crowd. Or maybe, you landed there by mistake. So, **how do you leave a Discord server**?

Whatever your reason, here is a detailed guide on how to leave a server on Discord!

A few things to note before you leave a server –

* After you exit from a server, you will no longer be able to send any texts on it.
* You will not receive any notifications from the server.
* Your username will no longer appear in the member list of the server.
* Whatever role you had in the server will be disabled.
* If you own a server, you will have to transfer the ownership to another member before you quit.
* The person you hand over your server to can do whatever they want with it.
* You can join the server you left again if you change your mind.

## Part 1: How to Leave a Discord Server on Computer?

Several peoples and hardcore gamers use Discord over a PC. And you can wave goodbye to the channel in a matter of few seconds. The procedure is the same for Mac and Windows.

1. Open Discord on your computer (the desktop app or on the browser).
2. Tap on the server name that appears towards the top left.

![ Leave Discord Server](https://images.wondershare.com/filmora/article-images/leave-discord-server.jpg)

1. Right at the bottom of the list, click on the option leave server

![ Leave Discord Server Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server.jpg)

After confirming you won't be a part of that server anymore. You cannot send any texts or get any notifications. The server name will disappear from the server list in your profile.

<!-- affiliate ads begin -->
<a href="https://shop.copernic.com/order/checkout.php?PRODS=41033095&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.2checkout.com/images/merchant/8d30aa96e72440759f74bd2306c1fa3d/Copernic-2023-Affiliate-728x90-Advanced-3YR.png" border="0"></a>
<!-- affiliate ads end -->
## Part 2: How to Leave a Discord Server on the Mobile App?

The procedure of leaving the server is more or less the same on the mobile app. The user interface of Discord does not differ much across the devices. To quit a server, follow these steps -

1. Click open the Discord app on your mobile.
2. Click on the right pane and click on the 3 dots that appear. Click on the name of the server that you want to leave.

![ Leave Discord Server on Mobile](https://images.wondershare.com/filmora/article-images/leave-discord-server-mobile.jpg)

1. From the menu that opens, scroll towards the bottom and click on the leave server option.

![ Leave Discord Server on Mobile Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server-mobile.jpg)

After confirmation, you will not be a part of the server anymore. The process is the same for ios and Android devices.

If you have decided to take a break from gaming and Discord, you can consider uninstalling the app temporarily. You can also turn off the notifications in the app settings on your device.

## Bonus: How to Transfer Discord Server Ownership?

How to leave your own Discord server? If your server has many members in it, it is wiser to transfer the ownership rather than shutting the server completely or abandoning it to fate. Especially if the users are active, then you can handover the ownership to a trustworthy person.

Here is how you can do it -

**For desktop**

The process is quite simple and only takes a few minutes.

1. Open the Discord app or log in using the browser.
2. Click on the server that you want to leave.
3. With right-click, open up the floating menu.
4. From that list, select server settings and then choose members.
5. Select the user that You Want To handover your server to. Tap those 3 dots and tap on ‘transfer ownership.’
6. Confirm your choice and then click on transfer ownership.
7. The chosen member will become the new owner of the server.

**On mobile**

The transfer procedure is quite similar to the desktop version. However, it has a few extra steps.

1. Open your Discord App on your phone.
2. Select the server that you want to give away.
3. Tap those 3 dots to open up the menu. Under user management, tap on ‘members.'
4. Select the member that will be the new owner of your server. Tap the 3 dots that appear next to the name of that user.
5. A confirmation box will appear.
6. Check off the box to confirm your choice.

Your server is now successfully transferred to the selected member. And the new owner can decide what to do with the server.

FAQs About Leaving A Discord Server

1. How can I leave a Discord server without anyone knowing?

Frankly speaking, there is no magic to help conceal your disappearance from a server. There is no way to hide your departure. However, you can take a few measures to make it less noticeable.

* Lay low for a few hours or days. This won’t work if you are the loudest member on the server. But still, it’s worth a shot.
* Try changing your avatar, profile picture, and nickname. This can throw people off the track or confuse them for a while.
* Control yourself and try not to tell anyone that you are leaving.
* And now it’s time for the discreet farewell!

You might still get some texts on personal asking about your exit. This is not a surefire way of making your exit a secret. However, hundreds of members along with bots will make your disappearance less apparent. Another solution would be to create a new user ID and leave the old one inactive.

1. Does leaving a Discord server delete your messages?

No, none of the texts that you sent on the server get deleted. Every text remains, even after you leave. The only way you can delete your texts if you delete them all one by one, or someone with sufficient permissions deletes them. If you get banned, then the member who banned you decides whether to keep your messages on the server or remove them. In this case, your texts can be removed if the member deletes them.

This was a guide on ‘**how to leave a Discord server’** that provided a detailed how-to on leaving servers and transferring servers.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord is all fun and games if you are a part of a lively server that has a cool community. You can obsess about some game, comic, or song with hundreds of other people without the fear of being called geeky.

However, sometimes you might disagree with other members, which can lead you to hunt for some other server. Other times, the server might be inactive, or you may not mix well with the crowd. Or maybe, you landed there by mistake. So, **how do you leave a Discord server**?

Whatever your reason, here is a detailed guide on how to leave a server on Discord!

A few things to note before you leave a server –

* After you exit from a server, you will no longer be able to send any texts on it.
* You will not receive any notifications from the server.
* Your username will no longer appear in the member list of the server.
* Whatever role you had in the server will be disabled.
* If you own a server, you will have to transfer the ownership to another member before you quit.
* The person you hand over your server to can do whatever they want with it.
* You can join the server you left again if you change your mind.

## Part 1: How to Leave a Discord Server on Computer?

Several peoples and hardcore gamers use Discord over a PC. And you can wave goodbye to the channel in a matter of few seconds. The procedure is the same for Mac and Windows.

1. Open Discord on your computer (the desktop app or on the browser).
2. Tap on the server name that appears towards the top left.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=3546200&QTY=1&AFFILIATE=108875&CART=1"><img src="http://www.binteko.com/sites/default/files/banner01_468x60a.gif" border="0"></a>
<!-- affiliate ads end -->
![ Leave Discord Server](https://images.wondershare.com/filmora/article-images/leave-discord-server.jpg)

1. Right at the bottom of the list, click on the option leave server

![ Leave Discord Server Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server.jpg)

After confirming you won't be a part of that server anymore. You cannot send any texts or get any notifications. The server name will disappear from the server list in your profile.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4940317&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/333ac5d90817d69113471fbb6e531bee/sps-partnership-728x90eng.png" border="0"></a>
<!-- affiliate ads end -->
## Part 2: How to Leave a Discord Server on the Mobile App?

The procedure of leaving the server is more or less the same on the mobile app. The user interface of Discord does not differ much across the devices. To quit a server, follow these steps -

1. Click open the Discord app on your mobile.
2. Click on the right pane and click on the 3 dots that appear. Click on the name of the server that you want to leave.

![ Leave Discord Server on Mobile](https://images.wondershare.com/filmora/article-images/leave-discord-server-mobile.jpg)

1. From the menu that opens, scroll towards the bottom and click on the leave server option.

![ Leave Discord Server on Mobile Confirm](https://images.wondershare.com/filmora/article-images/confirm-leaving-discord-server-mobile.jpg)

After confirmation, you will not be a part of the server anymore. The process is the same for ios and Android devices.

If you have decided to take a break from gaming and Discord, you can consider uninstalling the app temporarily. You can also turn off the notifications in the app settings on your device.

## Bonus: How to Transfer Discord Server Ownership?

How to leave your own Discord server? If your server has many members in it, it is wiser to transfer the ownership rather than shutting the server completely or abandoning it to fate. Especially if the users are active, then you can handover the ownership to a trustworthy person.

Here is how you can do it -

**For desktop**

The process is quite simple and only takes a few minutes.

1. Open the Discord app or log in using the browser.
2. Click on the server that you want to leave.
3. With right-click, open up the floating menu.
4. From that list, select server settings and then choose members.
5. Select the user that You Want To handover your server to. Tap those 3 dots and tap on ‘transfer ownership.’
6. Confirm your choice and then click on transfer ownership.
7. The chosen member will become the new owner of the server.

**On mobile**

The transfer procedure is quite similar to the desktop version. However, it has a few extra steps.

1. Open your Discord App on your phone.
2. Select the server that you want to give away.
3. Tap those 3 dots to open up the menu. Under user management, tap on ‘members.'
4. Select the member that will be the new owner of your server. Tap the 3 dots that appear next to the name of that user.
5. A confirmation box will appear.
6. Check off the box to confirm your choice.

Your server is now successfully transferred to the selected member. And the new owner can decide what to do with the server.

FAQs About Leaving A Discord Server

1. How can I leave a Discord server without anyone knowing?

Frankly speaking, there is no magic to help conceal your disappearance from a server. There is no way to hide your departure. However, you can take a few measures to make it less noticeable.

* Lay low for a few hours or days. This won’t work if you are the loudest member on the server. But still, it’s worth a shot.
* Try changing your avatar, profile picture, and nickname. This can throw people off the track or confuse them for a while.
* Control yourself and try not to tell anyone that you are leaving.
* And now it’s time for the discreet farewell!

You might still get some texts on personal asking about your exit. This is not a surefire way of making your exit a secret. However, hundreds of members along with bots will make your disappearance less apparent. Another solution would be to create a new user ID and leave the old one inactive.

1. Does leaving a Discord server delete your messages?

No, none of the texts that you sent on the server get deleted. Every text remains, even after you leave. The only way you can delete your texts if you delete them all one by one, or someone with sufficient permissions deletes them. If you get banned, then the member who banned you decides whether to keep your messages on the server or remove them. In this case, your texts can be removed if the member deletes them.

This was a guide on ‘**how to leave a Discord server’** that provided a detailed how-to on leaving servers and transferring servers.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>





<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://visual-screen-recording.techidaily.com/new-2024-approved-freeze-the-frame-choose-the-best-9-gif-recipes-on-windows-systems/"><u>[New] 2024 Approved  Freeze the Frame! Choose the Best 9 GIF Recipes on Windows Systems</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-essential-know-how-for-getting-started-on-discord-live-for-2024/"><u>[New] Essential Know-How for Getting Started on Discord Live for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-in-2024-mastering-visual-communication-a-guide-to-using-gifs-on-discord-platform/"><u>[New] In 2024, Mastering Visual Communication  A Guide to Using GIFs on Discord Platform</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-in-2024-the-step-by-step-process-to-disengage-from-discord-groups/"><u>[New] In 2024, The Step-by-Step Process to Disengage From Discord Groups</u></a></li>
<li><a href="https://screen-capture.techidaily.com/new-in-2024-trendy-ways-to-save-your-gaming-moments/"><u>[New] In 2024, Trendy Ways to Save Your Gaming Moments</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-innovative-ai-for-discord-enthusiasts-for-2024/"><u>[New] Innovative AI for Discord Enthusiasts for 2024</u></a></li>
<li><a href="https://some-tips.techidaily.com/new-mobile-friendly-youtubing-with-no-high-subscriber-count/"><u>[New] Mobile-Friendly YouTubing with No High Subscriber Count</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-step-by-step-how-to-delete-a-discord-server/"><u>[New] Step-by-Step  How to Delete a Discord Server</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-step-by-step-strategies-for-hosting-engaging-discord-channels-for-2024/"><u>[New] Step-by-Step Strategies for Hosting Engaging Discord Channels for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-talk-the-walk-engaging-others-on-discord-desktopmobile-for-2024/"><u>[New] Talk the Walk  Engaging Others on Discord Desktop/Mobile for 2024</u></a></li>
<li><a href="https://instagram-videos.techidaily.com/new-tapping-into-trends-5-game-changing-strategies-for-influencers/"><u>[New] Tapping Into Trends  5 Game-Changing Strategies for Influencers</u></a></li>
<li><a href="https://some-approaches.techidaily.com/new-the-finest-picks-top-8-web-sites-with-rich-3d-and-gold-lined-texts/"><u>[New] The Finest Picks  Top 8 Web Sites with Rich 3D & Gold-Lined Texts</u></a></li>
<li><a href="https://on-screen-recording.techidaily.com/new-the-future-of-game-logging-exciting-alternatives-to-fbx-centric-apps/"><u>[New] The Future of Game Logging  Exciting Alternatives to FBX-Centric Apps</u></a></li>
<li><a href="https://instagram-video-files.techidaily.com/new-turn-the-tape-counterclockwise-instagrams-reverse-play-technique/"><u>[New] Turn the Tape Counterclockwise  Instagram's Reverse Play Technique</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-unlink-discord-from-pcmobile-for-2024/"><u>[New] Unlink Discord From PC/Mobile for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-2024-approved-discoemote-studio-crafting-the-ultimate-emojis/"><u>[Updated] 2024 Approved  DiscoEmote Studio - Crafting the Ultimate Emojis</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-2024-approved-essential-tips-for-stepping-away-from-a-discord-chat-room/"><u>[Updated] 2024 Approved  Essential Tips for Stepping Away From a Discord Chat Room</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-2024-approved-freenfb-harmonies-instantly/"><u>[Updated] 2024 Approved  FreenFB Harmonies, Instantly</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-2024-approved-step-by-step-how-to-delete-a-discord-server/"><u>[Updated] 2024 Approved  Step-by-Step  How to Delete a Discord Server</u></a></li>
<li><a href="https://screen-activity-recording.techidaily.com/updated-2024-approved-top-picks-of-engaging-click-based-pc-gaming/"><u>[Updated] 2024 Approved  Top Picks of Engaging Click-Based PC Gaming</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-discovering-the-basics-of-discords-spoiler-tags-for-2024/"><u>[Updated] Discovering the Basics of Discord's Spoiler Tags for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-how-to-start-your-own-discord-channel-a-detailed-walkthrough-for-2024/"><u>[Updated] How to Start Your Own Discord Channel  A Detailed Walkthrough for 2024</u></a></li>
<li><a href="https://facebook-video-share.techidaily.com/updated-in-2024-breaking-down-barriers-adding-chapters-to-create-cohesive-youtube-lessons/"><u>[Updated] In 2024, Breaking Down Barriers  Adding Chapters to Create Cohesive YouTube Lessons</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-in-2024-easy-steps-to-setting-up-a-professional-discord-stream/"><u>[Updated] In 2024, Easy Steps to Setting Up a Professional Discord Stream</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-in-2024-unleash-the-power-of-messaging-mastering-pinning-on-discord/"><u>[Updated] In 2024, Unleash the Power of Messaging  Mastering Pinning on Discord</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-practical-steps-for-farewell-in-a-discord-environment-for-2024/"><u>[Updated] Practical Steps for Farewell in a Discord Environment for 2024</u></a></li>
<li><a href="https://extra-approaches.techidaily.com/updated-redefine-your-digital-world-with-latest-windows-10-gaming-and-apps/"><u>[Updated] Redefine Your Digital World with Latest Windows 10 Gaming & Apps</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-remove-yourself-from-discord-ecosystem-for-2024/"><u>[Updated] Remove Yourself From Discord Ecosystem for 2024</u></a></li>
<li><a href="https://some-guidance.techidaily.com/updated-unveiling-the-elite-after-effects-plugins-compendium/"><u>[Updated] Unveiling the Elite After Effects Plugins Compendium</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-break-free-from-discord-support/"><u>2024 Approved  Break Free From Discord Support</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-charting-your-course-to-certification-a-guide-to-verified-partnership/"><u>2024 Approved  Charting Your Course to Certification  A Guide to Verified Partnership</u></a></li>
<li><a href="https://twitter-videos.techidaily.com/2024-approved-how-to-tweet-videos-on-iphoneandroid-without-a-retweet/"><u>2024 Approved  How To Tweet Videos on iPhone/Android Without a Retweet</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-quick-tips-initiating-discord-video-conversations-anywhere/"><u>2024 Approved  Quick Tips  Initiating Discord Video Conversations Anywhere</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-step-by-step-streaming-on-discord-tips-to-engage-and-retain-viewers/"><u>2024 Approved  Step-by-Step Streaming on Discord  Tips to Engage and Retain Viewers</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-streamline-your-sound-directly-connecting-spotify-and-discord/"><u>2024 Approved  Streamline Your Sound  Directly Connecting Spotify & Discord</u></a></li>
<li><a href="https://extra-resources.techidaily.com/affinity-photo-expertise-review-guide-for-2024/"><u>Affinity Photo Expertise Review Guide for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/dreamy-designs-betterdiscords-top-10-themed-inspirations-for-2024/"><u>Dreamy Designs  BetterDiscord’s Top 10 Themed Inspirations for 2024</u></a></li>
<li><a href="https://extra-resources.techidaily.com/in-2024-an-in-depth-look-at-basic-and-simplified-hdr-photography/"><u>In 2024, An In-Depth Look at Basic and Simplified HDR Photography</u></a></li>
<li><a href="https://discord-videos.techidaily.com/in-2024-effective-methods-unlinking-from-your-discord-servers/"><u>In 2024, Effective Methods  Unlinking From Your Discord Servers</u></a></li>
<li><a href="https://android-location.techidaily.com/in-2024-getting-the-pokemon-go-gps-signal-not-found-11-error-in-samsung-galaxy-f14-5g-drfone-by-drfone-virtual/"><u>In 2024, Getting the Pokemon Go GPS Signal Not Found 11 Error in Samsung Galaxy F14 5G | Dr.fone</u></a></li>
<li><a href="https://bypass-frp.techidaily.com/in-2024-how-to-bypass-frp-from-infinix-by-drfone-android/"><u>In 2024, How to Bypass FRP from Infinix?</u></a></li>
<li><a href="https://discord-videos.techidaily.com/in-2024-launching-a-channel-a-comprehensive-discosteps-guide/"><u>In 2024, Launching a Channel  A Comprehensive DiscoSteps Guide</u></a></li>
<li><a href="https://facebook-video-content.techidaily.com/in-2024-step-by-step-instructions-for-fb-live-broadcasts/"><u>In 2024, Step-by-Step Instructions for FB Live Broadcasts</u></a></li>
<li><a href="https://some-approaches.techidaily.com/in-2024-unveiling-the-power-of-video-enhancement-sdr-to-dynamic-range-upconversion/"><u>In 2024, Unveiling the Power of Video Enhancement  SDR to Dynamic Range Upconversion</u></a></li>
<li><a href="https://android-location-track.techidaily.com/in-2024-ways-to-stop-parent-tracking-your-xiaomi-redmi-note-12-4g-drfone-by-drfone-virtual-android/"><u>In 2024, Ways to stop parent tracking your Xiaomi Redmi Note 12 4G | Dr.fone</u></a></li>
<li><a href="https://extra-information.techidaily.com/iphone-hdr-a-professionals-secret-weapon/"><u>IPhone HDR  A Professional's Secret Weapon</u></a></li>
<li><a href="https://discord-videos.techidaily.com/launching-a-channel-a-comprehensive-discosteps-guide-for-2024/"><u>Launching a Channel  A Comprehensive DiscoSteps Guide for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/mastering-the-art-of-custom-discord-emojis-pc-and-mobile-edition-for-2024/"><u>Mastering the Art of Custom Discord Emojis  PC & Mobile Edition for 2024</u></a></li>
<li><a href="https://ai-voice-clone.techidaily.com/new-in-2024-how-to-translate-tiktok-videos-top-5-auto-translate-tools/"><u>New In 2024, How to Translate TikTok Videos Top 5 Auto Translate Tools</u></a></li>
<li><a href="https://discord-videos.techidaily.com/quick-start-applying-discord-spoilers-correctly/"><u>Quick Start  Applying Discord Spoilers Correctly</u></a></li>
<li><a href="https://review-topics.techidaily.com/remove-frp-lock-on-oppo-a58-4g-by-drfone-android-unlock-remove-google-frp/"><u>Remove FRP Lock on Oppo A58 4G</u></a></li>
<li><a href="https://discord-videos.techidaily.com/stepwise-strategy-for-infusing-fun-emojis-in-discords-display-settings/"><u>Stepwise Strategy for Infusing Fun Emojis in Discord's Display Settings</u></a></li>
<li><a href="https://extra-tips.techidaily.com/ultimate-screenplay-treasures-for-each-movie-division/"><u>Ultimate Screenplay Treasures for Each Movie Division</u></a></li>
</ul></div>
