---
title: "\"[New] In 2024, Unlock Partner Status  A Step-by-Step Guide to Discord Verification\""
date: 2024-05-23T22:48:29.824Z
updated: 2024-05-24T22:48:29.825Z
tags:
  - ai video
  - ai discord
  - ai discord video
categories:
  - ai
  - discord
description: "\"This Article Describes [New] In 2024, Unlock Partner Status: A Step-by-Step Guide to Discord Verification\""
excerpt: "\"This Article Describes [New] In 2024, Unlock Partner Status: A Step-by-Step Guide to Discord Verification\""
keywords: "Unlock Partner Status,Discord Verification Steps,Achieve Partner Status,Partner Account Verification,DiscoCertify Guide,Unlocked in Discord,Verified Partner Sign Up"
thumbnail: https://www.lifewire.com/thmb/SRwGpMCKr7wYP8yH-FKCgSdYOrM=/400x300/filters:no_upscale():max_bytes(150000):strip_icc()/462313453-56a1ad945f9b58b7d0c1a0ea-b88ee2f1e77f4b0f9dc42f22a7042136.jpg
---

## Unlock Partner Status: A Step-by-Step Guide to Discord Verification

# How To Get Discord Partner And Be Verified

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Since the pandemic, communication-based social media websites have become even more popular; be it Instagram, Twitter, or Discord; they have amassed millions of users.

Some of these users are credible organizations, companies, celebrities, or other revered personalities. And they are usually given verified accounts. The mark of a verified account is the tiny blue tick next to the name.

People strive for this blue tick because it makes their account seem “official”; other users don’t mind sharing from and sharing with these accounts.

Once users know that a specific social media account is a verified one, they would never hesitate to interact with them.

If you want that kind of reverence for your online presence, keep reading as we elaborate on **how to get verified on Discord**:

#### In this article

* [Part 1: How to Get Verified On Discord](#part1)
* [Part 2: How to Apply For Discord Partnership](#part2)
* [Part 3: Differences Between Discord Verification And Partnership](#part3)

## Part 1: How to Get Verified On Discord

Verification on social media sites is most often used as proving your identity when you are a semi-famous or famous individual.

However, unlike the variety of other social media platforms, Discord does not verify just about anyone with a large following.

Presently, verification on Discord is limited to publishers and game developers, Spotify verified musical artists, and professional e-sports teams with massive followers and monthly listeners.

Suppose you are a content creator on YouTube, Twitch, or Reddit. In that case, you can also apply for Discord Partnership, which is an alternative account identification form.

Therefore, read on as we discuss **how to get verified on Discord**:

### Requirements Of Getting Verified On Discord

If you want to get verified on Discord, here are all the things you need to know about the application and qualification process:

* You must be a server owner and be the official representative of a group, team, or individual applying
* The server being verified must also meet the [community guidelines](https://discord.com/guidelines) of Discord
* If you do not fall into any of the categories mentioned above, you cannot be verified on Discord
* However, if you do meet the criteria, you would have to go to [discordapp.com/verification](https://discord.com/verification) and click on “Apply Now”
* Applicants are also required to provide an associated email address, along with the supplementary information proving their identity

Suppose you do not fit into the Discord verification criteria, but you are a streamer or a content creator. In that case, you can apply for your server to become a Discord Partner.

## Part 2: How to Apply For Discord Partnership

Recently there was a change in the Discord Partner Program, rewarding more active servers instead of the server owners with a large following outside of Discord.

For eligibility in the Discord Partner Program, the server in question must meet the Activity Requirements that are listed in the Partner Program portion of Server Insights.

You must keep in mind that partnership is not automatic, and you must fill out an application. Discord can also remove your partnership at any time if the requirements mentioned above are not met for a prolonged period.

### Requirements For Partner Discord Servers

The Discord partner program provides engaged and well-moderated servers with the extra tools and recognition to re-invest in the community. The accepted servers also get additional benefits and perks.

![Get Certified on Discord - Enable Discord Community Interface](https://images.wondershare.com/filmora/article-images/enable-discord-community-interface.jpg)

Before submitting your Partner application, you would need to check the server engagement requirements.

The servers thinking of applying to the Partner program have to be marked as “Community” servers in the Server Settings, allowing access to Server Insights.

![How to Get Certified on Discord - Discord Partner Program](https://images.wondershare.com/filmora/article-images/discord-partner-program.jpg)

The Server Insights will help you look at how close you are to applying to the Discord Partner Program.

You can also track the progress towards unlocking your Partner Program application anytime inside the Server Insights and the in-app Partner page.

Once you attain access to this page, there are specific server requirements that you would have to reach:

* The server must be a minimum of eight weeks old
* You must have a minimum of 500 members on your server
* Have a minimum of fifty communicators, people actively talking on your server per week
* Have a minimum of a hundred participators, people visiting/viewing your server per week
* Have a minimum of 20% Week 1 retention over a period of 8 weeks
* You must have enabled the two-factor authentication requirement for Server Moderation. This can be found in the Server Settings and then going to Moderation

Once you are a Discord Partner, you will get access to the VIP features mentioned below:

* You will receive a banner for your server
* You will receive an animated server icon
* The server and the server owner will receive a Discord Partner badge
* The server owner will receive a subscription to Discord Nitro throughout the partnership
* The partnered server also receives a customizable vanity invite URL

## Part 3: Differences Between Discord Verification And Partnership

**Discord verification** goes to servers that are run by brands, figures of public interest, and businesses. A verified badge shows the official home of that community.

Acceptance into the **Discord Verification** program only gives you server access to the Vanity URL, Verified Server badge, and the invite splash background.

In contrast, the Partner program provides a server banner, animated server icon, Nitro subscription, and a Discord Partner badge.

Furthermore, the Discord Partner Program aims to reward engaged, quality servers by providing them with extra tools and recognition, helping them invest further into their community.

A partner badge next to a server’s name indicates that it is one of the most engaging and reliable communities on Discord.

You might be thinking, can I be Discord Verified and Discord Partner at the same time? The answer is yes, you can.

If you are qualified for both programs, you can be in them. A Discord Verified server could send its application to the Discord Partner Program when they satisfy Partner Program requirements.

Lastly, if a server is removed from one of the programs, it can still be in the other one. Like, suppose a server is both Verified and Partnered but loses its Partnership. In that case, it can still stay verified and enjoy all the added benefits of **Discord Verification**.

## Frequently Asked Question about Getting Verification on Discord

#### Question 1: How long will it take to complete verification on Discord?

Answer: Generally, it would take around 5 business day to complete the verfication. However, the time may varies depend on the amount of application.

_Soure: Discord Support_

#### Question 2: Will I get charged for getting my server verified?

Answer: No. You won't be charged for getting your Discord server verified.

#### Question: Can I apply verification if our server is run by fan?

Answer: No, fan server can not be verified.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

## From Anonymity to Authority: The Essential Pathway for Raising Issues on Digital Platforms Like Discord

# How to Report Someone on Discord

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord has completely transformed online communication, becoming the preferred platform for gamers, streamers, and reviewers alike.

As of late, it has started integrating with other gaming and streaming services, giving us the streamer mode. With streaming's growing popularity, it's essential to know what the streamer mode is all about.

If you're a gamer, Discord's streamer mode allows you to stream your gaming session to viewers by broadcasting your game to your friends, fans, and even a closed community of enthusiasts.

Many e-gaming professionals have taken up streaming, offering original and valuable content for like-minded individuals. This mode helps them streamline all their communications in one place.

If you're new to Discord’s streamer mode, you need to know what it is, how you can use it to engage with other community members, and the primary security concerns you need to be aware of.

* [Part 1: How to Report Users on Discord Desktop?](#part1)
* [Part 2: How to Report Users on Discord Mobile App?](#part2)
* [Part 3: How to Kick People on Discord?](#part3)
* [Part 4: FAQs About Discord Reporting](#part4)

For gamers in the modern era, Discord is a household name. The platform has around 120 million active users monthly as of early 2021.

With so many users on the forum, it is normal to have some "bad apples" in the mix. There are trolls, miscreants, and spammers who ruin the experience for everyone else.

You can report them to Discord Trust and Safety team. They would take appropriate action against these nuisances after reviewing evidence.

Reporting helps make healthier communities and allows you to avoid conflicts and outbreaks due to suspicious activity on the platform.

Today we will look into how to report someone on Discord using desktop and mobile devices. Moreover, we will look at other ways to deal with indecent behavior, such as kicking people or banning them.

## Part 1: How to Report Users on Discord Desktop

Before you can report a person to Discord's Trust and Safety team, you will need to enable Discord's developer mode.

Enabling this mode will allow you to obtain the information necessary to file your report.

1. Login to your Discord account on PC or Mac
2. You will see a gear icon next to your username to the bottom left of your screen; click on it

![ Discord User Settings](https://images.wondershare.com/filmora/article-images/discord-user-settings.jpg)

1. There will be a list of options in the sidebar; from here, click on "Appearance"
2. Next, scroll down until you find "Developer Mode" under Advanced; turn it on

![ Turn on Discord Developer Mode](https://images.wondershare.com/filmora/article-images/turn-discord-developer-mode.jpg)

After enabling developer mode, you will now need the user ID of the person you are reporting. To get someone's user ID:

1. Right-click on their username
2. From the list of options that appear, choose "Copy ID"
3. Paste this user ID somewhere so that you can access it later

To report a specific message, you need to get the message link as well. For this:

1. Locate the message you want to report
2. Then hover your cursor over it and click on the ellipsis sign (…) on the right side
3. Click on "Copy Message Link"
4. Paste this somewhere so that you can use it later

After collecting the necessary information, go to Discord's website to report it to [Discord's Trust and Safety Team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731).

You will have to provide your email address and post the two links copied earlier into the description box.

Also, it would help if you gave context regarding your report describing how and what rule was broken. You can also provide any other evidence you may want to present by attaching files in the attachments area.

![ Submit report request on Discord](https://images.wondershare.com/filmora/article-images/submit-discord-user-report-request.jpg)

Now, confirm that you are a human by completing the captcha and then click on "Submit." Discord will contact you via email if action is taken against your complaint.

## Part 2: How to Report Users on Discord on iPhone And Android

Just like on a desktop, you will first need to enable developer mode.

1. After opening Discord on your mobile device, go to user settings by tapping on the gear icon or your profile picture next to your username
2. On iPhone, tap on "Appearance" and then go to "Advanced," whereas on Android, go to "App Settings" and tap "Behavior"

![  report people on Discord mobile](https://images.wondershare.com/filmora/article-images/report-user-discord-mobile.jpg)

1. Turn on developer mode by clicking on the slider under the "Chat Behavior" option

Like before, you will now need to obtain the User ID; the process may be slightly different depending on the phone you are using. In general, the steps would be:

1. Open the user's profile by tapping on it
2. Tap on the ellipsis sign (…) in the upper-right of your screen and select "Copy ID"
3. After doing this, paste the ID somewhere you can later access

Follow the steps below to get the message link to report.

1. Go to the message and then hold down on it until a list of options appears
2. On an iPhone, tap on "Copy Message Link." For an android device, click on "Select" and then "Copy To Clipboard"

Now, you can send this information to the [Trust and Safety team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731) to assess it. To do this:

1. Paste the two links copied earlier in the "Description Box"
2. Provide your email address along with the context behind the situation
3. Click on "Submit"

## Part 3: How to Kick People on Discord

Discord also allows you to take care of improper behavior yourself. If you are a moderator or server owner, you can kick people for violating Discord's guidelines.

However, it is essential to have a reason to kick someone. Otherwise, it may be seen as an abuse of power.

Here are activities to look out for before kicking someone:

* Spam messages
* Harassment
* Sharing child pornography
* Violating IP rights
* Sharing viruses
* Advocating self-harm or suicide
* Distributing gore content or animal cruelty
* Life threats to another user

If you see someone involved in these, you can kick them off your server or report them to moderators or server owners if you don't have kicking authority.

In case the moderators or owners do not act on your complaint, you can always contact the Trust and Safety team.

If you happen to be a moderator or server owner, you have the authority to kick people off your server. Here is how to do it:

1. Go to the correct channel on Discord
2. Find the user from the user list on the right side of the screen
3. Right-click on their username and then select "Kick"
4. Click on "Kick" again to confirm your decision

## Part 4: FAQs About Discord Reporting

There is no need to Google responses to "How do you report someone on Discord," we have answers to the most frequently asked questions:

### Can I Report People on Discord Anonymously?

According to a [moderator on Discord's subreddit](https://www.reddit.com/r/discordapp/comments/ave1x3/are%5Freports%5Fanonymous/), information regarding a reported case remains between the T&S team and the reporter. Nothing regarding the complaint is shared with the individual kicked.

### What Happens If I Report Someone on Discord?

After you report someone on Discord, the T&S team goes through the evidence to justify or negate your claims.

Usually, this process takes a long time as the team evaluates whether the problem is part of a broader pattern.

After conducting their research and deciding upon a punishment, the T&S team will contact the offender via email to inform them about their misconduct and the relevant consequences.

In minor offenses, the T&S team will reach out to the reporter and teach them how to block the user rather than take direct action.

### Can You Report Someone on Discord for Being Under 13?

Individuals under the age of 13 are not permitted to use Discord unless they have permission from a parent or guardian. However, it is not very easy to prove that the user is below a certain age.

If you know someone who is undoubtedly underage, then you can report them to the Trust & Safety team by filling out their form and adding evidence to back your claim.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord has completely transformed online communication, becoming the preferred platform for gamers, streamers, and reviewers alike.

As of late, it has started integrating with other gaming and streaming services, giving us the streamer mode. With streaming's growing popularity, it's essential to know what the streamer mode is all about.

If you're a gamer, Discord's streamer mode allows you to stream your gaming session to viewers by broadcasting your game to your friends, fans, and even a closed community of enthusiasts.

Many e-gaming professionals have taken up streaming, offering original and valuable content for like-minded individuals. This mode helps them streamline all their communications in one place.

If you're new to Discord’s streamer mode, you need to know what it is, how you can use it to engage with other community members, and the primary security concerns you need to be aware of.

* [Part 1: How to Report Users on Discord Desktop?](#part1)
* [Part 2: How to Report Users on Discord Mobile App?](#part2)
* [Part 3: How to Kick People on Discord?](#part3)
* [Part 4: FAQs About Discord Reporting](#part4)

For gamers in the modern era, Discord is a household name. The platform has around 120 million active users monthly as of early 2021.

With so many users on the forum, it is normal to have some "bad apples" in the mix. There are trolls, miscreants, and spammers who ruin the experience for everyone else.

You can report them to Discord Trust and Safety team. They would take appropriate action against these nuisances after reviewing evidence.

Reporting helps make healthier communities and allows you to avoid conflicts and outbreaks due to suspicious activity on the platform.

Today we will look into how to report someone on Discord using desktop and mobile devices. Moreover, we will look at other ways to deal with indecent behavior, such as kicking people or banning them.

## Part 1: How to Report Users on Discord Desktop

Before you can report a person to Discord's Trust and Safety team, you will need to enable Discord's developer mode.

Enabling this mode will allow you to obtain the information necessary to file your report.

1. Login to your Discord account on PC or Mac
2. You will see a gear icon next to your username to the bottom left of your screen; click on it

![ Discord User Settings](https://images.wondershare.com/filmora/article-images/discord-user-settings.jpg)

1. There will be a list of options in the sidebar; from here, click on "Appearance"
2. Next, scroll down until you find "Developer Mode" under Advanced; turn it on

![ Turn on Discord Developer Mode](https://images.wondershare.com/filmora/article-images/turn-discord-developer-mode.jpg)

After enabling developer mode, you will now need the user ID of the person you are reporting. To get someone's user ID:

1. Right-click on their username
2. From the list of options that appear, choose "Copy ID"
3. Paste this user ID somewhere so that you can access it later

To report a specific message, you need to get the message link as well. For this:

1. Locate the message you want to report
2. Then hover your cursor over it and click on the ellipsis sign (…) on the right side
3. Click on "Copy Message Link"
4. Paste this somewhere so that you can use it later

After collecting the necessary information, go to Discord's website to report it to [Discord's Trust and Safety Team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731).

You will have to provide your email address and post the two links copied earlier into the description box.

Also, it would help if you gave context regarding your report describing how and what rule was broken. You can also provide any other evidence you may want to present by attaching files in the attachments area.

![ Submit report request on Discord](https://images.wondershare.com/filmora/article-images/submit-discord-user-report-request.jpg)

Now, confirm that you are a human by completing the captcha and then click on "Submit." Discord will contact you via email if action is taken against your complaint.

## Part 2: How to Report Users on Discord on iPhone And Android

Just like on a desktop, you will first need to enable developer mode.

1. After opening Discord on your mobile device, go to user settings by tapping on the gear icon or your profile picture next to your username
2. On iPhone, tap on "Appearance" and then go to "Advanced," whereas on Android, go to "App Settings" and tap "Behavior"

![  report people on Discord mobile](https://images.wondershare.com/filmora/article-images/report-user-discord-mobile.jpg)

1. Turn on developer mode by clicking on the slider under the "Chat Behavior" option

Like before, you will now need to obtain the User ID; the process may be slightly different depending on the phone you are using. In general, the steps would be:

1. Open the user's profile by tapping on it
2. Tap on the ellipsis sign (…) in the upper-right of your screen and select "Copy ID"
3. After doing this, paste the ID somewhere you can later access

Follow the steps below to get the message link to report.

1. Go to the message and then hold down on it until a list of options appears
2. On an iPhone, tap on "Copy Message Link." For an android device, click on "Select" and then "Copy To Clipboard"

Now, you can send this information to the [Trust and Safety team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731) to assess it. To do this:

1. Paste the two links copied earlier in the "Description Box"
2. Provide your email address along with the context behind the situation
3. Click on "Submit"

## Part 3: How to Kick People on Discord

Discord also allows you to take care of improper behavior yourself. If you are a moderator or server owner, you can kick people for violating Discord's guidelines.

However, it is essential to have a reason to kick someone. Otherwise, it may be seen as an abuse of power.

Here are activities to look out for before kicking someone:

* Spam messages
* Harassment
* Sharing child pornography
* Violating IP rights
* Sharing viruses
* Advocating self-harm or suicide
* Distributing gore content or animal cruelty
* Life threats to another user

If you see someone involved in these, you can kick them off your server or report them to moderators or server owners if you don't have kicking authority.

In case the moderators or owners do not act on your complaint, you can always contact the Trust and Safety team.

If you happen to be a moderator or server owner, you have the authority to kick people off your server. Here is how to do it:

1. Go to the correct channel on Discord
2. Find the user from the user list on the right side of the screen
3. Right-click on their username and then select "Kick"
4. Click on "Kick" again to confirm your decision

## Part 4: FAQs About Discord Reporting

There is no need to Google responses to "How do you report someone on Discord," we have answers to the most frequently asked questions:

### Can I Report People on Discord Anonymously?

According to a [moderator on Discord's subreddit](https://www.reddit.com/r/discordapp/comments/ave1x3/are%5Freports%5Fanonymous/), information regarding a reported case remains between the T&S team and the reporter. Nothing regarding the complaint is shared with the individual kicked.

### What Happens If I Report Someone on Discord?

After you report someone on Discord, the T&S team goes through the evidence to justify or negate your claims.

Usually, this process takes a long time as the team evaluates whether the problem is part of a broader pattern.

After conducting their research and deciding upon a punishment, the T&S team will contact the offender via email to inform them about their misconduct and the relevant consequences.

In minor offenses, the T&S team will reach out to the reporter and teach them how to block the user rather than take direct action.

### Can You Report Someone on Discord for Being Under 13?

Individuals under the age of 13 are not permitted to use Discord unless they have permission from a parent or guardian. However, it is not very easy to prove that the user is below a certain age.

If you know someone who is undoubtedly underage, then you can report them to the Trust & Safety team by filling out their form and adding evidence to back your claim.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord has completely transformed online communication, becoming the preferred platform for gamers, streamers, and reviewers alike.

As of late, it has started integrating with other gaming and streaming services, giving us the streamer mode. With streaming's growing popularity, it's essential to know what the streamer mode is all about.

If you're a gamer, Discord's streamer mode allows you to stream your gaming session to viewers by broadcasting your game to your friends, fans, and even a closed community of enthusiasts.

Many e-gaming professionals have taken up streaming, offering original and valuable content for like-minded individuals. This mode helps them streamline all their communications in one place.

If you're new to Discord’s streamer mode, you need to know what it is, how you can use it to engage with other community members, and the primary security concerns you need to be aware of.

* [Part 1: How to Report Users on Discord Desktop?](#part1)
* [Part 2: How to Report Users on Discord Mobile App?](#part2)
* [Part 3: How to Kick People on Discord?](#part3)
* [Part 4: FAQs About Discord Reporting](#part4)

For gamers in the modern era, Discord is a household name. The platform has around 120 million active users monthly as of early 2021.

With so many users on the forum, it is normal to have some "bad apples" in the mix. There are trolls, miscreants, and spammers who ruin the experience for everyone else.

You can report them to Discord Trust and Safety team. They would take appropriate action against these nuisances after reviewing evidence.

Reporting helps make healthier communities and allows you to avoid conflicts and outbreaks due to suspicious activity on the platform.

Today we will look into how to report someone on Discord using desktop and mobile devices. Moreover, we will look at other ways to deal with indecent behavior, such as kicking people or banning them.

## Part 1: How to Report Users on Discord Desktop

Before you can report a person to Discord's Trust and Safety team, you will need to enable Discord's developer mode.

Enabling this mode will allow you to obtain the information necessary to file your report.

1. Login to your Discord account on PC or Mac
2. You will see a gear icon next to your username to the bottom left of your screen; click on it

![ Discord User Settings](https://images.wondershare.com/filmora/article-images/discord-user-settings.jpg)

1. There will be a list of options in the sidebar; from here, click on "Appearance"
2. Next, scroll down until you find "Developer Mode" under Advanced; turn it on

![ Turn on Discord Developer Mode](https://images.wondershare.com/filmora/article-images/turn-discord-developer-mode.jpg)

After enabling developer mode, you will now need the user ID of the person you are reporting. To get someone's user ID:

1. Right-click on their username
2. From the list of options that appear, choose "Copy ID"
3. Paste this user ID somewhere so that you can access it later

To report a specific message, you need to get the message link as well. For this:

1. Locate the message you want to report
2. Then hover your cursor over it and click on the ellipsis sign (…) on the right side
3. Click on "Copy Message Link"
4. Paste this somewhere so that you can use it later

After collecting the necessary information, go to Discord's website to report it to [Discord's Trust and Safety Team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731).

You will have to provide your email address and post the two links copied earlier into the description box.

Also, it would help if you gave context regarding your report describing how and what rule was broken. You can also provide any other evidence you may want to present by attaching files in the attachments area.

![ Submit report request on Discord](https://images.wondershare.com/filmora/article-images/submit-discord-user-report-request.jpg)

Now, confirm that you are a human by completing the captcha and then click on "Submit." Discord will contact you via email if action is taken against your complaint.

## Part 2: How to Report Users on Discord on iPhone And Android

Just like on a desktop, you will first need to enable developer mode.

1. After opening Discord on your mobile device, go to user settings by tapping on the gear icon or your profile picture next to your username
2. On iPhone, tap on "Appearance" and then go to "Advanced," whereas on Android, go to "App Settings" and tap "Behavior"

![  report people on Discord mobile](https://images.wondershare.com/filmora/article-images/report-user-discord-mobile.jpg)

1. Turn on developer mode by clicking on the slider under the "Chat Behavior" option

Like before, you will now need to obtain the User ID; the process may be slightly different depending on the phone you are using. In general, the steps would be:

1. Open the user's profile by tapping on it
2. Tap on the ellipsis sign (…) in the upper-right of your screen and select "Copy ID"
3. After doing this, paste the ID somewhere you can later access

Follow the steps below to get the message link to report.

1. Go to the message and then hold down on it until a list of options appears
2. On an iPhone, tap on "Copy Message Link." For an android device, click on "Select" and then "Copy To Clipboard"

Now, you can send this information to the [Trust and Safety team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731) to assess it. To do this:

1. Paste the two links copied earlier in the "Description Box"
2. Provide your email address along with the context behind the situation
3. Click on "Submit"

## Part 3: How to Kick People on Discord

Discord also allows you to take care of improper behavior yourself. If you are a moderator or server owner, you can kick people for violating Discord's guidelines.

However, it is essential to have a reason to kick someone. Otherwise, it may be seen as an abuse of power.

Here are activities to look out for before kicking someone:

* Spam messages
* Harassment
* Sharing child pornography
* Violating IP rights
* Sharing viruses
* Advocating self-harm or suicide
* Distributing gore content or animal cruelty
* Life threats to another user

If you see someone involved in these, you can kick them off your server or report them to moderators or server owners if you don't have kicking authority.

In case the moderators or owners do not act on your complaint, you can always contact the Trust and Safety team.

If you happen to be a moderator or server owner, you have the authority to kick people off your server. Here is how to do it:

1. Go to the correct channel on Discord
2. Find the user from the user list on the right side of the screen
3. Right-click on their username and then select "Kick"
4. Click on "Kick" again to confirm your decision

## Part 4: FAQs About Discord Reporting

There is no need to Google responses to "How do you report someone on Discord," we have answers to the most frequently asked questions:

### Can I Report People on Discord Anonymously?

According to a [moderator on Discord's subreddit](https://www.reddit.com/r/discordapp/comments/ave1x3/are%5Freports%5Fanonymous/), information regarding a reported case remains between the T&S team and the reporter. Nothing regarding the complaint is shared with the individual kicked.

### What Happens If I Report Someone on Discord?

After you report someone on Discord, the T&S team goes through the evidence to justify or negate your claims.

Usually, this process takes a long time as the team evaluates whether the problem is part of a broader pattern.

After conducting their research and deciding upon a punishment, the T&S team will contact the offender via email to inform them about their misconduct and the relevant consequences.

In minor offenses, the T&S team will reach out to the reporter and teach them how to block the user rather than take direct action.

### Can You Report Someone on Discord for Being Under 13?

Individuals under the age of 13 are not permitted to use Discord unless they have permission from a parent or guardian. However, it is not very easy to prove that the user is below a certain age.

If you know someone who is undoubtedly underage, then you can report them to the Trust & Safety team by filling out their form and adding evidence to back your claim.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

##### Richard Bennett

 Mar 27, 2024• Proven solutions

Discord has completely transformed online communication, becoming the preferred platform for gamers, streamers, and reviewers alike.

As of late, it has started integrating with other gaming and streaming services, giving us the streamer mode. With streaming's growing popularity, it's essential to know what the streamer mode is all about.

If you're a gamer, Discord's streamer mode allows you to stream your gaming session to viewers by broadcasting your game to your friends, fans, and even a closed community of enthusiasts.

Many e-gaming professionals have taken up streaming, offering original and valuable content for like-minded individuals. This mode helps them streamline all their communications in one place.

If you're new to Discord’s streamer mode, you need to know what it is, how you can use it to engage with other community members, and the primary security concerns you need to be aware of.

* [Part 1: How to Report Users on Discord Desktop?](#part1)
* [Part 2: How to Report Users on Discord Mobile App?](#part2)
* [Part 3: How to Kick People on Discord?](#part3)
* [Part 4: FAQs About Discord Reporting](#part4)

For gamers in the modern era, Discord is a household name. The platform has around 120 million active users monthly as of early 2021.

With so many users on the forum, it is normal to have some "bad apples" in the mix. There are trolls, miscreants, and spammers who ruin the experience for everyone else.

You can report them to Discord Trust and Safety team. They would take appropriate action against these nuisances after reviewing evidence.

Reporting helps make healthier communities and allows you to avoid conflicts and outbreaks due to suspicious activity on the platform.

Today we will look into how to report someone on Discord using desktop and mobile devices. Moreover, we will look at other ways to deal with indecent behavior, such as kicking people or banning them.

## Part 1: How to Report Users on Discord Desktop

Before you can report a person to Discord's Trust and Safety team, you will need to enable Discord's developer mode.

Enabling this mode will allow you to obtain the information necessary to file your report.

1. Login to your Discord account on PC or Mac
2. You will see a gear icon next to your username to the bottom left of your screen; click on it

![ Discord User Settings](https://images.wondershare.com/filmora/article-images/discord-user-settings.jpg)

1. There will be a list of options in the sidebar; from here, click on "Appearance"
2. Next, scroll down until you find "Developer Mode" under Advanced; turn it on

![ Turn on Discord Developer Mode](https://images.wondershare.com/filmora/article-images/turn-discord-developer-mode.jpg)

After enabling developer mode, you will now need the user ID of the person you are reporting. To get someone's user ID:

1. Right-click on their username
2. From the list of options that appear, choose "Copy ID"
3. Paste this user ID somewhere so that you can access it later

To report a specific message, you need to get the message link as well. For this:

1. Locate the message you want to report
2. Then hover your cursor over it and click on the ellipsis sign (…) on the right side
3. Click on "Copy Message Link"
4. Paste this somewhere so that you can use it later

After collecting the necessary information, go to Discord's website to report it to [Discord's Trust and Safety Team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731).

You will have to provide your email address and post the two links copied earlier into the description box.

Also, it would help if you gave context regarding your report describing how and what rule was broken. You can also provide any other evidence you may want to present by attaching files in the attachments area.

![ Submit report request on Discord](https://images.wondershare.com/filmora/article-images/submit-discord-user-report-request.jpg)

Now, confirm that you are a human by completing the captcha and then click on "Submit." Discord will contact you via email if action is taken against your complaint.

## Part 2: How to Report Users on Discord on iPhone And Android

Just like on a desktop, you will first need to enable developer mode.

1. After opening Discord on your mobile device, go to user settings by tapping on the gear icon or your profile picture next to your username
2. On iPhone, tap on "Appearance" and then go to "Advanced," whereas on Android, go to "App Settings" and tap "Behavior"

![  report people on Discord mobile](https://images.wondershare.com/filmora/article-images/report-user-discord-mobile.jpg)

1. Turn on developer mode by clicking on the slider under the "Chat Behavior" option

Like before, you will now need to obtain the User ID; the process may be slightly different depending on the phone you are using. In general, the steps would be:

1. Open the user's profile by tapping on it
2. Tap on the ellipsis sign (…) in the upper-right of your screen and select "Copy ID"
3. After doing this, paste the ID somewhere you can later access

Follow the steps below to get the message link to report.

1. Go to the message and then hold down on it until a list of options appears
2. On an iPhone, tap on "Copy Message Link." For an android device, click on "Select" and then "Copy To Clipboard"

Now, you can send this information to the [Trust and Safety team](https://support.discord.com/hc/en-us/requests/new?ticket%5Fform%5Fid=360000029731) to assess it. To do this:

1. Paste the two links copied earlier in the "Description Box"
2. Provide your email address along with the context behind the situation
3. Click on "Submit"

## Part 3: How to Kick People on Discord

Discord also allows you to take care of improper behavior yourself. If you are a moderator or server owner, you can kick people for violating Discord's guidelines.

However, it is essential to have a reason to kick someone. Otherwise, it may be seen as an abuse of power.

Here are activities to look out for before kicking someone:

* Spam messages
* Harassment
* Sharing child pornography
* Violating IP rights
* Sharing viruses
* Advocating self-harm or suicide
* Distributing gore content or animal cruelty
* Life threats to another user

If you see someone involved in these, you can kick them off your server or report them to moderators or server owners if you don't have kicking authority.

In case the moderators or owners do not act on your complaint, you can always contact the Trust and Safety team.

If you happen to be a moderator or server owner, you have the authority to kick people off your server. Here is how to do it:

1. Go to the correct channel on Discord
2. Find the user from the user list on the right side of the screen
3. Right-click on their username and then select "Kick"
4. Click on "Kick" again to confirm your decision

## Part 4: FAQs About Discord Reporting

There is no need to Google responses to "How do you report someone on Discord," we have answers to the most frequently asked questions:

### Can I Report People on Discord Anonymously?

According to a [moderator on Discord's subreddit](https://www.reddit.com/r/discordapp/comments/ave1x3/are%5Freports%5Fanonymous/), information regarding a reported case remains between the T&S team and the reporter. Nothing regarding the complaint is shared with the individual kicked.

### What Happens If I Report Someone on Discord?

After you report someone on Discord, the T&S team goes through the evidence to justify or negate your claims.

Usually, this process takes a long time as the team evaluates whether the problem is part of a broader pattern.

After conducting their research and deciding upon a punishment, the T&S team will contact the offender via email to inform them about their misconduct and the relevant consequences.

In minor offenses, the T&S team will reach out to the reporter and teach them how to block the user rather than take direct action.

### Can You Report Someone on Discord for Being Under 13?

Individuals under the age of 13 are not permitted to use Discord unless they have permission from a parent or guardian. However, it is not very easy to prove that the user is below a certain age.

If you know someone who is undoubtedly underage, then you can report them to the Trust & Safety team by filling out their form and adding evidence to back your claim.

![author avatar](https://images.wondershare.com/filmora/article-images/richard-bennett.jpg)

Richard Bennett

Richard Bennett is a writer and a lover of all things video.

Follow @Richard Bennett

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://discord-videos.techidaily.com/in-2024-cutting-edge-font-creators-for-discord-on-the-go/"><u>In 2024, Cutting-Edge Font Creators for Discord on the Go</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-in-2024-the-ultimate-pathway-to-discords-premium-service-disconitro/"><u>[Updated] In 2024, The Ultimate Pathway to Discord's Premium Service, DiscoNitro</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-in-2024-crafting-a-graceful-exit-from-discord-communities/"><u>[New] In 2024, Crafting a Graceful Exit From Discord Communities</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-mastering-avatars-in-a-click-the-ultimate-disco-guide/"><u>[Updated] Mastering Avatars in a Click  The Ultimate Disco Guide</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-unleashing-discord-video-talks-desktop-and-mobile-guide-for-2024/"><u>[New] Unleashing Discord Video Talks - Desktop & Mobile Guide for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/10-cool-discord-themes-from-betterdiscord-for-2024/"><u>10 Cool Discord Themes [From BetterDiscord] for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-perfecting-your-discord-experience-with-top-10-plugins/"><u>[New] Perfecting Your Discord Experience with Top 10 Plugins</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-in-2024-advanced-font-designers-focused-on-discord-channels/"><u>[Updated] In 2024, Advanced Font Designers Focused on Discord Channels</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-from-novice-to-pro-your-discord-broadcast-journey/"><u>2024 Approved  From Novice to Pro  Your Discord Broadcast Journey</u></a></li>
<li><a href="https://discord-videos.techidaily.com/best-discord-couple-chat-spaces-for-2024/"><u>Best Discord Couple Chat Spaces for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-prime-free-tools-to-sketch-unique-discord-icons/"><u>2024 Approved  Prime Free Tools to Sketch Unique Discord Icons</u></a></li>
<li><a href="https://discord-videos.techidaily.com/in-2024-how-to-report-someone-on-discord/"><u>In 2024, How to Report Someone on Discord</u></a></li>
<li><a href="https://discord-videos.techidaily.com/workplace-messaging-battle-is-slack-claiming-victory-over-discord-in-2024/"><u>Workplace Messaging Battle  Is Slack Claiming Victory Over Discord, In 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-precision-and-perfection-leading-discord-emoji-makers-of-today-for-2024/"><u>[New] Precision and Perfection  Leading Discord Emoji Makers of Today for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-2024-approved-unlock-expertise-perfectly-executing-screen-sharing-on-discord/"><u>[Updated] 2024 Approved  Unlock Expertise  Perfectly Executing Screen Sharing on Discord</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-2024-approved-top-5-creative-logo-motion-in-the-social-sphere/"><u>[New] 2024 Approved  Top 5 Creative Logo Motion in the Social Sphere</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-mastering-emoji-artistry-best-on-discord-emoji-generators-for-2024/"><u>[New] Mastering Emoji Artistry  Best On-Discord Emoji Generators for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-advanced-font-designers-focused-on-discord-channels-for-2024/"><u>[Updated] Advanced Font Designers Focused on Discord Channels for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-in-2024-prime-desktop-applications-for-group-conversations/"><u>[New] In 2024, Prime Desktop Applications for Group Conversations</u></a></li>
<li><a href="https://discord-videos.techidaily.com/wiping-your-discord-servers-from-pc-and-android-devices/"><u>Wiping Your Discord Servers From PC and Android Devices</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-discord-sticker-guide-essential-info-for-2024/"><u>[New] Discord Sticker Guide - Essential Info for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-personalized-visuals-a-complete-user-imagery-guide-on-discord-for-2024/"><u>[New] Personalized Visuals  A Complete User Imagery Guide on Discord for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/a-comprehensive-guide-to-infusing-fun-with-emojis-in-discords-status-field-for-2024/"><u>A Comprehensive Guide to Infusing Fun with Emojis in Discord's Status Field for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-in-2024-love-hunt-top-10-discord-dating-destinations/"><u>[Updated] In 2024, Love Hunt  Top 10 Discord Dating Destinations</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-how-to-send-videos-on-discord/"><u>2024 Approved  How to Send Videos on Discord</u></a></li>
<li><a href="https://discord-videos.techidaily.com/in-2024-ultimate-complimentary-discord-icon-creator-tools/"><u>In 2024, Ultimate Complimentary Discord Icon Creator Tools</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-the-disco-diplomats-manual-how-to-respond-effectively-for-2024/"><u>[New] The Disco Diplomat's Manual  How to Respond Effectively for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-in-2024-dissecting-workplace-messaging-apps-which-one-triumphs-slack-or-discord/"><u>[New] In 2024, Dissecting Workplace Messaging Apps  Which One Triumphs, Slack or Discord?</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-unlocking-discord-the-ultimate-video-submission-guide/"><u>[New] Unlocking Discord  The Ultimate Video Submission Guide</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-trendsetting-emblems-in-digital-landscapes/"><u>2024 Approved  Trendsetting Emblems in Digital Landscapes</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-mastering-the-art-of-leaving-a-discord-server/"><u>[Updated] Mastering the Art of Leaving a Discord Server</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-2024-approved-enhancing-your-digital-persona-personalize-your-discord-status-with-custom-emojis/"><u>[New] 2024 Approved  Enhancing Your Digital Persona  Personalize Your Discord Status with Custom Emojis</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-2024-approved-real-time-interaction-best-practices-for-discord-streamers/"><u>[New] 2024 Approved  Real-Time Interaction  Best Practices for Discord Streamers</u></a></li>
<li><a href="https://discord-videos.techidaily.com/2024-approved-step-by-step-guide-to-fashionable-pfps-on-discord-platform/"><u>2024 Approved  Step-By-Step Guide to Fashionable Pfps on Discord Platform</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-in-2024-messaging-services-face-off-who-leads-in-quality-discordskype/"><u>[New] In 2024, Messaging Services Face-Off  Who Leads in Quality, Discord/Skype?</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-step-by-step-guidehow-to-stream-on-discord/"><u>[Updated] [Step-by-Step Guide]How to Stream on Discord</u></a></li>
<li><a href="https://discord-videos.techidaily.com/updated-slack-vs-discord-which-is-better-for-your-team/"><u>[Updated] Slack Vs. Discord  Which Is Better for Your Team</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-2024-approved-networking-choices-unveiled-comparing-discord-and-skype/"><u>[New] 2024 Approved  Networking Choices Unveiled  Comparing Discord & Skype</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-unveiling-top-15-emoji-creation-tools-the-pinnacle-of-discords-design/"><u>[New] Unveiling Top 15 Emoji Creation Tools  The Pinnacle of Discord's Design</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-2024-approved-unlocking-respectful-dialogue-a-strategy-guide-to-reporting-misconduct-in-online-communities/"><u>[New] 2024 Approved  Unlocking Respectful Dialogue  A Strategy Guide to Reporting Misconduct in Online Communities</u></a></li>
<li><a href="https://easy-unlock-android.techidaily.com/in-2024-a-complete-guide-to-oem-unlocking-on-realme-by-drfone-android/"><u>In 2024, A Complete Guide To OEM Unlocking on Realme</u></a></li>
<li><a href="https://pokemon-go-android.techidaily.com/in-2024-15-best-strongest-pokemon-to-use-in-pokemon-go-pvp-leagues-for-realme-12plus-5g-drfone-by-drfone-virtual-android/"><u>In 2024, 15 Best Strongest Pokémon To Use in Pokémon GO PvP Leagues For Realme 12+ 5G | Dr.fone</u></a></li>
<li><a href="https://smart-video-creator.techidaily.com/new-2024-approved-experience-the-future-top-4k-video-demos-you-wont-want-to-miss/"><u>New 2024 Approved Experience the Future Top 4K Video Demos You Wont Want to Miss</u></a></li>
<li><a href="https://blog-min.techidaily.com/how-to-repair-corrupt-mp4-and-avi-files-of-realme-with-video-repair-utility-on-windows-by-stellar-video-repair-mobile-video-repair/"><u>How to Repair corrupt MP4 and AVI files of Realme with Video Repair Utility on Windows?</u></a></li>
<li><a href="https://change-location.techidaily.com/how-to-use-life360-on-windows-pc-for-vivo-t2-pro-5g-drfone-by-drfone-virtual-android/"><u>How to Use Life360 on Windows PC For Vivo T2 Pro 5G? | Dr.fone</u></a></li>
<li><a href="https://ai-vdieo-software.techidaily.com/new-elevate-your-video-editing-skills-6-must-know-adobe-premiere-tricks/"><u>New Elevate Your Video Editing Skills 6 Must-Know Adobe Premiere Tricks</u></a></li>
<li><a href="https://facebook-videos.techidaily.com/new-2024-approved-boosting-engagement-the-key-to-creating-top-facebook-covers/"><u>[New] 2024 Approved  Boosting Engagement  The Key to Creating Top Facebook Covers</u></a></li>
<li><a href="https://fake-location.techidaily.com/how-to-share-location-in-messenger-on-itel-a70-drfone-by-drfone-virtual-android/"><u>How to Share Location in Messenger On Itel A70? | Dr.fone</u></a></li>
<li><a href="https://twitter-videos.techidaily.com/new-2024-approved-maximizing-impact-instagram-and-twitter-video-collaboration/"><u>[New] 2024 Approved  Maximizing Impact  Instagram & Twitter Video Collaboration</u></a></li>
<li><a href="https://twitter-clips.techidaily.com/new-directly-delivering-tiktok-videos-to-twitters-feed-for-2024/"><u>[New] Directly Delivering TikTok Videos to Twitter's Feed for 2024</u></a></li>
<li><a href="https://instagram-clips.techidaily.com/updated-2024-approved-twist-your-content-strategy-inverting-videos-for-instagram/"><u>[Updated] 2024 Approved  Twist Your Content Strategy  Inverting Videos for Instagram</u></a></li>
<li><a href="https://review-topics.techidaily.com/in-2024-complete-tutorial-to-use-gps-joystick-to-fake-gps-location-on-nokia-g310-drfone-by-drfone-virtual-android/"><u>In 2024, Complete Tutorial to Use GPS Joystick to Fake GPS Location On Nokia G310 | Dr.fone</u></a></li>
<li><a href="https://video-ai-editor.techidaily.com/updated-in-2024-quick-fix-resizing-your-video-to-perfect-proportions/"><u>Updated In 2024, Quick Fix Resizing Your Video to Perfect Proportions</u></a></li>
<li><a href="https://facebook-videos.techidaily.com/updated-in-2024-a-guide-to-profitable-animated-fb-advertising-techniques/"><u>[Updated] In 2024, A Guide to Profitable, Animated FB Advertising Techniques</u></a></li>
<li><a href="https://ai-driven-video-production.techidaily.com/new-2024-approved-the-ultimate-list-of-free-video-editors-for-starters/"><u>New 2024 Approved The Ultimate List of Free Video Editors for Starters</u></a></li>
<li><a href="https://android-pokemon-go.techidaily.com/in-2024-here-are-some-pro-tips-for-pokemon-go-pvp-battles-on-oppo-a56s-5g-drfone-by-drfone-virtual-android/"><u>In 2024, Here are Some Pro Tips for Pokemon Go PvP Battles On Oppo A56s 5G | Dr.fone</u></a></li>
<li><a href="https://android-pokemon-go.techidaily.com/how-to-use-ispoofer-on-oneplus-open-drfone-by-drfone-virtual-android/"><u>How to use iSpoofer on OnePlus Open? | Dr.fone</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/understanding-facebooks-chat-language-through-its-blue-signature-marker-for-2024/"><u>Understanding Facebook's Chat Language Through Its Blue Signature Marker for 2024</u></a></li>
<li><a href="https://instagram-video-recordings.techidaily.com/new-2024-approved-direct-video-access-top-5-ways-to-transfer-igtv-content/"><u>[New] 2024 Approved  Direct Video Access  Top 5 Ways to Transfer IGTV Content</u></a></li>
<li><a href="https://screen-mirror.techidaily.com/process-of-screen-sharing-google-pixel-8-to-pc-detailed-steps-drfone-by-drfone-android/"><u>Process of Screen Sharing Google Pixel 8 to PC- Detailed Steps | Dr.fone</u></a></li>
<li><a href="https://audio-editing.techidaily.com/new-2024-approved-essential-voice-dampening-tech-a-list-of-the-top-10-tools/"><u>New 2024 Approved Essential Voice Dampening Tech A List of the Top 10 Tools</u></a></li>
<li><a href="https://ai-voice-clone.techidaily.com/updated-2024-approved-the-best-text-to-speech-online-tools-to-use/"><u>Updated 2024 Approved The Best Text-to-Speech Online Tools To Use</u></a></li>
<li><a href="https://remote-screen-capture.techidaily.com/new-2024-approved-recording-webinars-on-a-budget-friendly-platform/"><u>[New] 2024 Approved  Recording Webinars on a Budget-Friendly Platform</u></a></li>
<li><a href="https://review-topics.techidaily.com/recover-your-contacts-after-itel-a60s-has-been-deleted-by-fonelab-android-recover-contacts/"><u>Recover your contacts after Itel A60s has been deleted.</u></a></li>
</ul></div>


